.menu__container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d4d4d4;
  padding: 1rem 2rem;
  z-index: 500;
  box-shadow: 1px 3px 0 #282828;
}

.menu__header {
  font-size: 1.5rem;
  margin-top: 0;
}

.menu__content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
