.menu__container {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 10px 20px;
  z-index: 500;
  margin: 0;
}

.header__lang-container {
  display: flex;
  justify-content: flex-start;
}

.lang-switch {
  margin-right: 1rem;
  margin-bottom: 0;
  cursor: pointer;

  &.is-active {
    text-decoration: underline;
  }
}