.menu__container {
  bottom: 42px;
  position: absolute;
  right: 12px;
  padding: 10px 20px;
  z-index: 500;
  margin: 0;

  @media (min-width: 768px) {
    top: 12px;
    bottom: unset;
  }
}

.header__lang-container {
  display: flex;
  justify-content: flex-start;
}

.lang-switch {
  margin-right: 1rem;
  margin-bottom: 0;
  cursor: pointer;

  &.is-active {
    text-decoration: underline;
  }
}