.info-tab__author {
  position: absolute;
  bottom: 42px;
  left: 12px;
  padding: 10px;
  font-size: 12px;
  z-index: 400;

  @media (min-width: 768px) {
    bottom: 12px;
    right: unset;
    left: 12px;
    top: unset;
  }
}
