.info-tab__container {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  padding: 1rem;
  background-color: #797676;
  border: 1px solid transparent;
  z-index: 400;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #fff;
    border: 1px solid #797676;

    .info-tab__author {
      color: #797676;
    }
  }
}

.info-tab__author {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}
