.header {
  text-align: center;
  margin: 0 auto 2rem;
}

.header__lang-container {
  display: flex;
  justify-content: flex-start;
}

.lang-switch {
  margin-right: 1rem;
  cursor: pointer;

  &.is-active {
    text-decoration: underline;
  }
}
