.checkbox__label {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  padding-left: 3.5rem;
  position: relative;
  top: 0.25rem;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;

  &:hover .checkbox__input ~ .checkbox__indicator {
    border-color: black;
  }
}

.checkbox__input {
  opacity: 0;
  position: absolute;
  z-index: -1;

  &:focus ~ .checkbox__indicator {
    border-color: black;
  }

  &:checked ~ .checkbox__indicator {
    &::after {
      display: block;
    }
  }

  &:disabled ~ .checkbox__indicator {
    opacity: 0.6;
    pointer-events: none;
  }
}

.checkbox__indicator {
  background-color: white;
  border: 1px solid #999;
  border-radius: 50%;
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;

  &::after {
    background-color: mediumseagreen;
    border-radius: 50%;
    content: "";
    display: none;
    height: 16px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 16px;
  }
}


