@import '@picocss/pico/css/pico.css';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-marker-icon {
  background-color: transparent;
  padding: 0;
  border: 0;
}

.leaflet-marker-icon:focus {
  box-shadow:  none;
}

.leaflet-control-zoom a {
  padding: 0;
  border-radius: 0;
  border: 1px solid #ccc;
}

.leaflet-div-icon {
  background: none;
  border: none;
}
